__pycache__/XML-attribute-rewriter.cpython-39.pyc
.vscode/launch.json
build/XML-attribute-rewriter/Analysis-00.toc
build/XML-attribute-rewriter/base_library.zip
build/XML-attribute-rewriter/EXE-00.toc
build/XML-attribute-rewriter/PKG-00.pkg
build/XML-attribute-rewriter/PKG-00.toc
build/XML-attribute-rewriter/PYZ-00.pyz
build/XML-attribute-rewriter/PYZ-00.toc
build/XML-attribute-rewriter/warn-XML-attribute-rewriter.txt
build/XML-attribute-rewriter/XML-attribute-rewriter.exe.manifest
build/XML-attribute-rewriter/xref-XML-attribute-rewriter.html
build/XML-attribute-rewriter/localpycos/struct.pyo
XML-attribute-rewriter.spec
